@font-face {
  font-family: "Comfortaa-Regular";
  src: url('../fonts/Comfortaa-Regular.ttf') format('truetype')
}

@font-face {
  font-family: "Comfortaa-Bold";
  src: url('../fonts/Comfortaa-Bold.ttf') format('truetype')
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, li, a, input {
  margin-bottom: 20px;
  font-family: "Comfortaa-Regular";
  font-size: 20px;
  line-height: 24px;
}

h1, h2, h3, h4, h5, h6 {
  color: #58babb;
}

h1 {
  font-size: 48px;
  line-height: 53px;
}

h2 {
  font-size: 40px;
  line-height: 44px;
}

h3 {
  font-size: 31px;
  line-height: 34px;
}

h4 {
  font-size: 25px;
  line-height: 28px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

p, li, a {
  color: #ffffff;
}

small {
  font-size: 14px;
  a {
    font-size: 14px;
  }
}
