.rteindent1{margin-left:40px;}.rteindent2{margin-left:80px;}.rteindent3{margin-left:120px;}.rteindent4{margin-left:160px;}.rteleft{text-align:left;}.rteright{text-align:right;}.rtecenter{text-align:center;}.rtejustify{text-align:justify;}.ibimage_left{float:left;}.ibimage_right{float:right;}
.media-wysiwyg-align-left{float:left;margin-right:20px;}.media-wysiwyg-align-right{float:right;margin-left:20px;}.media-wysiwyg-align-center{text-align:center;}


table {
    border-collapse:collapse;
    position: relative;
    width: 90%
}

table td {
   border:1px solid #000;
   padding: 1%;
}

div {
    width: 90%;
    margin-top: 200px;
}

