.social {
  position: absolute;
  bottom: 44px;
  left: 0;
  width: 100%;
  ul {
    text-align: center;
    li {
      display: inline-block;
      margin-right: 8px;
      margin-bottom: 0;
      a {
        display: block;
        width: 40px;
        height: 40px;
        margin-bottom: 0;
        background-color: #82a2ad;
        &:hover {
          background-color: #e92575;
        }
        img {
          width: 20px;
          padding-top: 12px;
        }
      }
    }
  }

  @media (min-width: $tablet) {
    top: 50%;
    margin-top: -96px;
    left: 10px;
    width: inherit;
    ul {
      text-align: left;
      li {
        display: block;
        margin-bottom: 14px;
        a {
          width: 50px;
          height: 50px;
          padding-left: 11px;
          img {
            width: 26px;
          }
        }
      }
    }
  }
}
